@import url('https://x.syvita.org/fonts/roobert/importme.css');

body {
    background: url(/shapes.svg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-color: black;
    color: white;
    font-family: roobert;
    word-spacing: 0.1em;
}

button {
    font-family: Inter;
    font-weight: 600;
    margin-top: 10px;
    text-transform: uppercase;
    padding: 14px 26px;
    letter-spacing: 0.1em;
    color: white;
    background: #9146ff;
    padding: 14px 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 200ms;
    width: 400px;
    height: 48px;
}

button:hover {
    background-color: rgba(145, 70, 255, 0.9);
    transition: 200ms;
}

button:active {
    background-color: rgba(145, 70, 255, 0.8);
    transition: 200ms;
}

input {
    color: white;
    border: 2px solid #333333;
    border-radius: 10px;
    background-color: black;
    width: 400px;
    height: 50px;
    margin-top: 10px;
    outline: 0px;
    padding-left: 5px;
    font-size: larger;
}

input::placeholder {
    text-align: center;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
