@import url('https://x.syvita.org/fonts/roobert/importme.css');

body {
    background: url(/rectangle.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  
    color: black;
    font-family: roobert;
    word-spacing: 0.1em;
}

button {
    font-family: Inter;
    font-weight: 600;
    margin-top: 10px;
    text-transform: uppercase;
    padding: 14px 26px;
    letter-spacing: 0.1em;
    color: white;
    background: rgba(190, 0, 120, 0.5);
    padding: 14px 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 200ms;
    width: 200px;
    height: 48px;
}

button:hover {
    background-color: rgba(190, 0, 120, .4);
    color: white;
    transition: 200ms;
}

button:active {
    background-color: rgba(190, 0, 120, .3);
    transition: 200ms;
}

input {
    color: black;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background: #F0F0FF;
    width: 200px;
    height: 50px;
    margin-top: 10px;
    outline: 0px;
    padding-left: 5px;
    font-size: larger;
}

input::placeholder {
    color: #62676E;
    text-align: left;
    margin-left: 5px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
