@import url('https://x.syvita.org/fonts/roobert/importme.css');
@import url('https://x.syvita.org/fonts/inter/importme.css');

.joinPool {
    color: black;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    min-width: 250px;
}

.joinPool h1 {
    font-weight: normal;
}

.snippet {
    margin: auto;
    font-size: x-large;
    margin-top: 200px;
    color: #ffffff;
    width: 600px;
}

@media (max-width: 650px) {
    .snippet {
        
        font-size: x-large;
        width: 85%;
    }
}

@media (max-width: 411px) {
     .snippet {
        margin-top: 80px;
        font-size: x-large;
        width: 85%;
    }
}

@media (max-width: 370px) {
    .snippet {
        margin-top: -20px;
        font-size: x-large;
        width: 85%;
    }
}