@import url('https://x.syvita.org/fonts/roobert/importme.css');
@import url('https://x.syvita.org/fonts/inter/importme.css');




.joinPool {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    min-width: 250px;
}

.joinPool h1 {
    font-weight: normal;
}

.logo {
    font-weight: normal;
    margin-left: 35px;
    margin-top: 10px;
    font-size: x-large;
}

.backgroundGradient {
    text-align: center;
    width: 800px;
    height: 400px;
    background: linear-gradient(
180deg, #00FAFA 0%, #9146FF 100%);
    border-radius: 16px;
}


.signOut {
    font-family: Inter;
    font-weight: 600;
    margin-top: 10px;
    text-transform: uppercase;
    padding: 14px 26px;
    letter-spacing: 0.1em;
    color: white;
    background: #9146ff;
    padding: 14px 24px;
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 48px;
    cursor: pointer;
    transition: 200ms;
}

.signOut:hover {
    background-color: rgba(145, 70, 255, 0.9);
    transition: 200ms;
}

.signOut:active {
    background-color: rgba(145, 70, 255, 0.8);
    transition: 200ms;
}

.total {
    color: #9a9a9a;
    position: absolute;
    margin-top: 75px;
    margin-left: 290px;
    font-size: large;
    max-width: 100px;
}

.number {
    color: #9a9a9a;
    position: absolute;
    font-size: small;
    margin-top: 30px;
    margin-right: 235px;
}

.snippet {
    font-size: 17px;
    text-align: center;
    margin-right: 35%;
    margin-left: 35%;
    line-height: 25px;
    color: #ffffff;
}

@media (max-width: 1169px) {
    .snippet {
        font-size: 17px;
        text-align: center;
        margin-right: 25%;
        margin-left: 25%;
        line-height: 25px;
        color: #ffffff;
    }
}

@media (max-width: 700px) {
    .snippet {
        font-size: 17px;
        text-align: center;
        margin-right: 10%;
        margin-left: 10%;
        line-height: 25px;
        color: #ffffff;
    }
}
