@import url('https://x.syvita.org/fonts/roobert/importme.css');
@import url('https://x.syvita.org/fonts/inter/importme.css');

.buy {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    min-width: 250px;
}

.button {
    font-family: Inter;
    font-weight: 600;
    margin-top: 10px;
    text-transform: uppercase;
    padding: 14px 26px;
    letter-spacing: 0.1em;
    color: white;
    background: #9146ff;
    padding: 14px 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 200ms;
    width: 400px;
    height: 48px;
}

.button:hover {
    background-color: rgba(145, 70, 255, 0.9);
    transition: 200ms;
}

.button:active {
    background-color: rgba(145, 70, 255, 0.8);
    transition: 200ms;
}

.buy h1 {
    font-weight: normal;
}

.swap {
    font-weight: normal;
    margin-left: 35px;
    margin-top: 10px;
    font-size: x-large;
}

.buy input {
    color: white;
    border: 2px solid #333333;
    border-radius: 10px;
    background-color: black;
    width: 400px;
    height: 50px;
    margin-top: 10px;
    outline: 0px;
    padding-left: 5px;
    font-size: larger;
}

.buy input::placeholder {
    text-align: center;
}

.buy input[type='number']::-webkit-inner-spin-button,
.buy input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.buy div {
    margin-top: 10px;
    color: #9a9a9a;
}

.buy div img {
    position: relative;
    top: 1.6px;
    filter: invert(1);
    margin-right: 5px;
}

.signOut {
    font-family: Inter;
    font-weight: 600;
    margin-top: 10px;
    text-transform: uppercase;
    padding: 14px 26px;
    letter-spacing: 0.1em;
    color: white;
    background: #9146ff;
    padding: 14px 24px;
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 48px;
    cursor: pointer;
    transition: 200ms;
}

.signOut:hover {
    background-color: rgba(145, 70, 255, 0.9);
    transition: 200ms;
}

.signOut:active {
    background-color: rgba(145, 70, 255, 0.8);
    transition: 200ms;
}

.total {
    color: #9a9a9a;
    position: absolute;
    margin-top: 75px;
    margin-left: 290px;
    font-size: large;
    max-width: 100px;
}

.number {
    color: #9a9a9a;
    position: absolute;
    font-size: small;
    margin-top: 30px;
    margin-right: 235px;
}

.snippet {
    font-size: 17px;
    text-align: center;
    margin-right: 35%;
    margin-left: 35%;
    line-height: 25px;
    color: #ffffff;
}

@media (max-width: 1169px) {
    .snippet {
        font-size: 17px;
        text-align: center;
        margin-right: 25%;
        margin-left: 25%;
        line-height: 25px;
        color: #ffffff;
    }
}

@media (max-width: 700px) {
    .snippet {
        font-size: 17px;
        text-align: center;
        margin-right: 10%;
        margin-left: 10%;
        line-height: 25px;
        color: #ffffff;
    }
}
