.navbar {
    display: flex;
    
}

.logo {
    font-weight: normal;
    margin-left: 35px;
    margin-top: 10px;
    font-size: xx-large;
    color: #ffffff;
    cursor: pointer;
}

.signOutButton {
    font-family: Inter;
    font-weight: 600;
    margin-top: -10px;
    text-transform: uppercase;
    padding: 14px 26px;
    letter-spacing: 0.1em;
    color: white;
    background: rgba(190, 0, 120, 0.5);
    padding: 14px 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    transition: 200ms;
    width: 200px;
    height: 48px;
}


.links {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    font-size: large;
    margin-left: auto;
    color: #ffffff;

}

.links li a:hover {
    color: rgba(190, 0, 120, .4);
}

.links li{
    margin-right: 15px;
}

@media(max-width: 650px) {



.links {
    display: none;
}   


}