   .menu {
       margin-bottom: 275px;
   }
   
   
   .links {
position: absolute;
left: 0;
right: 0;
text-align: center;
    margin-top: 100px;

   }
   
   .links ul {
    list-style: none;
    /* position: relative;
    text-align: center;
    top: 40px; */
    font-size: x-large;
    color: #ffffff; 


   }

   .links ul li a:hover {
    color: rgba(190, 0, 120, .4);
}

   .links ul li {
       margin-top: 5px;

   }

.mobilebutton {
 width: 25px;
 height: 25px;

}

@media(min-width: 650px) {



.links ul {
    display: none;
}


}