@import url('https://x.syvita.org/fonts/roobert/importme.css');
@import url('https://x.syvita.org/fonts/inter/importme.css');

.joinPool {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    min-width: 250px;
}

.dashboard {
    text-align: center;
    width: 850px;
    height: 800px;
    border: 5px solid #FAB4FF;
    background: white;
    border-radius: 16px;
}

.round {
    font-size: 48px;
    line-height: 0px;
    height: 40px;
}

.contribution {
    font-size: 20px;
}

.goalAmount {
    font-size: 24px;
}

.goalProgress {
    display: flex;
    flex-direction: column;
 }

 .stxRaised {
    font-size: 28px;
    border: 4px solid #00FAFA;
    border-radius: 16px;
    background:rgba(0, 250, 250, 0.35);
    width: 400px;
    margin: auto;
    margin-top: 10px;
    line-height: 0px;
 }
  
.progressBar {
    all: unset;
    color: white;
    text-align: center;
    white-space: nowrap;
    background: #5546ff;
    border-radius: 16px;
}

.progress {
    display: flex;
    width: 95%;
    height: 25px;
    margin: auto;
    border-radius: 0.25rem;
    margin-bottom: 15px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}


.firstRow {
    display: flex;
    
}

.secondRow {
    display: flex;
}

.participants {
    font-size: 28px;
    border: 4px solid #BFABFF;
    border-radius: 16px;
    background:rgba(191, 171, 255, .35);
    width: 400px;
    margin: auto;
    margin-top: 10px;
    line-height: 0px;
}

.roundData {

    border: 3px solid black;
    overflow-y: scroll;
    width: 750px;
    height: 290px;
    border-radius: 10px;
    position: relative;
    bottom: 300px;
    left: 5px;
}

.roundData li {
    border: 3px solid black;
    height: 50px;
    list-style: none;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 32.5px;
    line-height: 2;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
    
}

.roundData::-webkit-scrollbar {
        width: 5px;
    }

    
.roundData::-webkit-scrollbar-track {
        box-shadow: inset 0 0 2px grey; 
        border-radius: 10px;
    }

  
.roundData::-webkit-scrollbar-thumb {
        background: rgb(7, 7, 7); 
        border-radius: 10px;
    }

    
.roundData::-webkit-scrollbar-thumb:hover {
        background: #009eb3; 
    }

.startBlock {
    font-size: 28px;
    border: 4px solid #FAB4FF;
    border-radius: 16px;
    background: rgba(250, 180, 255, 0.35);
    width: 400px;
    margin: auto;
    margin-top: 10px;
    line-height: 0px;
}

.miningBegins {
    font-size: 28px;
    border: 4px solid #FFCA5F;
    border-radius: 16px;
    background: rgba(255, 202, 95, 0.35);
    max-width: 360px;
    margin: auto;
    margin-top: 10px;
    line-height: 0px;
}

.hasMined {
    font-size: 28px;
    border: 4px solid #FA2828;
    border-radius: 16px;
    background: rgba(250, 40, 40, 0.35);
    width: 400px;
    margin-left: 10px;
    margin-top: 20px;
    line-height: 0px;  
}

.hasntMined {
    font-size: 28px;
    border: 4px solid #00FA05;
    border-radius: 16px;
    background: rgba(0, 250, 5, 0.35);
    width: 400px;
    margin-left: 10px;
    margin-top: 20px;
    line-height: 0px;    
}


.hasClaimed {
    font-size: 24px;
    border: 4px solid #FFCA5F;
    border-radius: 16px;
    background: rgba(255, 202, 95, 0.35);
    width: 400px;
    margin-left: 20px;
    margin-top: 20px;
    height: 65px;
    line-height: 0px;  
}

.hasClaimed p {
    margin-top: 25px;    
    
}

.endsAt {
    font-size: 28px;
    border: 4px solid #FFCA5F;
    border-radius: 16px;
    background: rgba(255, 202, 95, 0.35);
    width: 400px;
    margin-left: 20px;
    margin-top: 20px;
    height: 65px;
    line-height: 0px;  
}

.endsAt p {
    margin-top: 28px;    
    
}

.addWithdraw input {
    margin-right: 15px;
}

.addWithdraw input::placeholder {
    text-align: center;
}


.roundButtons button {
    color: black;
    width: 170px;
    height: 50px;
    
}

.prevButton {
    position: relative;
    margin-right: 52.5%;

}

.nextButton {
    margin-left: auto;
}



.total {
    color: #9a9a9a;
    position: absolute;
    margin-top: 75px;
    margin-left: 290px;
    font-size: large;
    max-width: 100px;
}

.number {
    color: #9a9a9a;
    position: absolute;
    font-size: small;
    margin-top: 30px;
    margin-right: 235px;
}

.snippet {
    font-size: 17px;
    text-align: center;
    margin-right: 35%;
    margin-left: 35%;
    line-height: 25px;
    color: #ffffff;
}

.viewTransaction {
    text-decoration: underline;
    color: blue;
}

@media (max-width: 1169px) {
    .snippet {
        font-size: 17px;
        text-align: center;
        margin-right: 25%;
        margin-left: 25%;
        line-height: 25px;
        color: #ffffff;
    }
}

@media (max-width: 860px) {

    .dashboard {
    text-align: center;
    width: 90%;
    height: 800px;
    border: 5px solid #FAB4FF;
    background: white;
    border-radius: 16px;
}

.roundData {

    border: 3px solid black;
    overflow-y: scroll;
    width: 600px;
    height: 290px;
    border-radius: 10px;
    position: relative;
    bottom: 300px;
    left: 1px;
}

.roundData li {
    border: 3px solid black;
    height: 50px;
    list-style: none;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 32.5px;
    line-height: 2;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
    
}

.firstRow {
    display: flex;
   
}

.secondRow {
    display: flex;
    
}

.participants {
    font-size: 28px;
    border: 4px solid #BFABFF;
    border-radius: 16px;
    background:rgba(191, 171, 255, .35);
    width: 300px;
    margin: auto;
    margin-top: 10px;
    line-height: 0px;
}

.startBlock {
    font-size: 28px;
    border: 4px solid #FAB4FF;
    border-radius: 16px;
    background: rgba(250, 180, 255, 0.35);
    width: 325px;
    height: 65px;
    margin: auto;
    margin-top: 10px;
    line-height: 0px;
}

.startBlock p {
    margin-top: 28px;
}

.hasMined {
    font-size: 28px;
    border: 4px solid #FA2828;
    border-radius: 16px;
    background: rgba(250, 40, 40, 0.35);
    width: 300px;
    margin: auto;
    margin-top: 20px;
    line-height: 0px;  
}

.hasntMined {
    font-size: 28px;
    border: 4px solid #00FA05;
    border-radius: 16px;
    background: rgba(0, 250, 5, 0.35);
    width: 300px;
    margin-top: 20px;
    line-height: 0px;    
}

.hasClaimed {
    font-size: 20px;
    border: 4px solid #FFCA5F;
    border-radius: 16px;
    background: rgba(255, 202, 95, 0.35);
    width: 325px;
    margin: auto;
    margin-top: 20px;
    height: 65px;
    line-height: 0px;  
}

}

@media (max-width: 695px) {

    .dashboard {
    text-align: center;
    width: 475px;
    height: 975px;
    border: 5px solid #FAB4FF;
    background: white;
    border-radius: 16px;
}

.roundData {

    border: 3px solid black;
    overflow-y: scroll;
    width: 400px;
    height: 290px;
    border-radius: 10px;
    position: relative;
    bottom: 300px;
    left: 1px;
}

.roundData li {
    border: 3px solid black;
    height: 50px;
    list-style: none;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 32.5px;
    line-height: 2;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
    
}

.firstRow {
    display: flex;
    flex-direction: column;
}

.secondRow {
    display: flex;
    flex-direction: column;
}

.participants {
    font-size: 28px;
     border: 4px solid #BFABFF;
    border-radius: 16px;
    background:rgba(191, 171, 255, .35);
    width: 330px;
    margin: auto;
    margin-top: 20px;
    line-height: 0px;
}

.startBlock {
    font-size: 28px;
    border: 4px solid #FAB4FF;
    border-radius: 16px;
    background: rgba(250, 180, 255, 0.35);
    width: 325px;
    margin: auto;
    margin-top: 20px;
    line-height: 0px;
}

.hasMined {
    font-size: 28px;
    border: 4px solid #FA2828;
    border-radius: 16px;
    background: rgba(250, 40, 40, 0.35);
    width: 330px;
    margin: auto;
    margin-top: 20px;
    line-height: 0px;  
}
.hasntMined {
    font-size: 28px;
    border: 4px solid #00FA05;
    border-radius: 16px;
    background: rgba(0, 250, 5, 0.35);
    margin: auto;
    width: 330px;
    margin-top: 20px;
    line-height: 0px;    
}

.wonMia {
    font-size: large;
}

.hasClaimed {
    font-size: x-large;
    max-width: 95%;

    border: 4px solid #FFCA5F;
    border-radius: 16px;
    background: rgba(255, 202, 95, 0.35);
    width: 330px;
    margin: auto;
    margin-top: 20px;
    height: 65px;
    line-height: 0px;  
}

}

@media (max-width: 510px) {

    .dashboard {
   text-align: center;
    max-width: 95%;
    height: 1100px;
    border: 5px solid #FAB4FF;
    background: white;
    border-radius: 16px;
    }

     .stxRaised {
    font-size: 28px;
    border: 4px solid #00FAFA;
    border-radius: 16px;
    background:rgba(0, 250, 250, 0.35);
    max-width: 95%;
    margin: auto;
    margin-top: 10px;
    line-height: 0px;
 }

    .endsAt {
    font-size: 28px;
    border: 4px solid #FFCA5F;
    border-radius: 16px;
    background: rgba(255, 202, 95, 0.35);
    width: 95%;
    margin-left: 20px;
    margin-top: 20px;
    height: 65px;
    line-height: 0px;  
}

.roundData {

    border: 3px solid black;
    overflow-y: scroll;
    max-width: 90%;
    height: 290px;
    border-radius: 10px;
    position: relative;
    bottom: 300px;
    left: 1px;
}

}

@media (max-width: 411px) {
       .dashboard {
    text-align: center;
    width: 380px;
    height: 1100px;
    border: 5px solid #FAB4FF;
    background: white;
    border-radius: 16px;
}

 .stxRaised {
    font-size: 28px;
    border: 4px solid #00FAFA;
    border-radius: 16px;
    background:rgba(0, 250, 250, 0.35);
    width: 325px;
    margin: auto;
    margin-top: 10px;
    line-height: 0px;
 }


.addWithdraw input {
    margin-right: 0;
}

.endsAt {
    font-size: x-large;
    border: 4px solid #FFCA5F;
    border-radius: 16px;
    background: rgba(255, 202, 95, 0.35);
    width: 90%;
    margin-left: 20px;
    margin-top: 20px;
    height: 65px;
    line-height: 0px;  
}
}

@media (max-width: 400px) {

    .dashboard {
    text-align: center;
    /* width: 350px; */
    height: 1100px;
    border: 5px solid #FAB4FF;
    background: white;
    border-radius: 16px;
}

.participants {
    font-size: 28px;
     border: 4px solid #BFABFF;
    border-radius: 16px;
    background:rgba(191, 171, 255, .35);
    width: 95%;
    margin: auto;
    margin-top: 20px;
    line-height: 0px;
}

.startBlock {
    font-size: 28px;
    border: 4px solid #FAB4FF;
    border-radius: 16px;
    background: rgba(250, 180, 255, 0.35);
    width: 95%;
    margin: auto;
    margin-top: 20px;
    line-height: 0px;
}

.hasMined {
    font-size: 28px;
    border: 4px solid #FA2828;
    border-radius: 16px;
    background: rgba(250, 40, 40, 0.35);
    width: 95%;
    margin: auto;
    margin-top: 20px;
    line-height: 0px;  
}
.hasntMined {
    font-size: 28px;
    border: 4px solid #00FA05;
    border-radius: 16px;
    background: rgba(0, 250, 5, 0.35);
    margin: auto;
    width: 95%;
    margin-top: 20px;
    line-height: 0px;    
}

}



@media (max-width: 700px) {
    .snippet {
        font-size: 17px;
        text-align: center;
        margin-right: 10%;
        margin-left: 10%;
        line-height: 25px;
        color: #ffffff;
    }
}
