@import url('https://x.syvita.org/fonts/roobert/importme.css');
@import url('https://x.syvita.org/fonts/inter/importme.css');

.joinPool {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    min-width: 250px;
}

.joinPool h1 {
    font-weight: normal;
}

.logo {
    font-weight: normal;
    margin-left: 35px;
    margin-top: 10px;
    font-size: x-large;
}

.dashboard {
    text-align: center;
    width: 800px;
    height: 750px;
    border: 5px solid #FAB4FF;
    background: white;
 
    border-radius: 16px;
}

.round {
    font-size: 48px;
    line-height: 0px;
    height: 40px;
}

.goalProgress {
    display: flex;
    flex-direction: column;
 }
  
.progressBar {
    all: unset;
    color: white;
    text-align: center;
    white-space: nowrap;
    background: #5546ff;
    border-radius: 16px;
}

.progress {
    display: flex;
    width: 650px;
    height: 25px;
    margin: auto;
    border-radius: 0.25rem;
    margin-bottom: 15px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.goalAmount {
    font-size: 24px;
    letter-spacing: 5px;
}

.participants {
    font-size: 28px;
    border: 4px solid #00FAFA;
    border-radius: 16px;
    background:rgba(0, 250, 250, 0.35);
    max-width: 300px;
    margin: auto;
    margin-top: 10px;
    line-height: 0px;
}

.roundData {
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
    width: 750px;
    height: 220px;
    margin-top: 10px;
}



/* .roundDaT ::-webkit-scrollbar {
  background: #757b83;
  border-radius: 10px;
  width: 7px;
} */

.roundData ::-webkit-scrollbar {
  width: 12px;
}

/* Track */
.roundData ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
.roundData ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #696969;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.roundData ul ::-webkit-scrollbar-thumb:window-inactive {
  background: #696969;
}

.roundData li {
    border: 3px solid black;
    height: 40px;
    list-style: none;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 32.5px;
    line-height: 2;
}

/* border: 4px solid #BEFAE1;
border-radius: 16px;
background:rgba(190, 250, 225, 0.5); */

.startBlock {
    font-size: 28px;
    border: 4px solid #FAB4FF;
    border-radius: 16px;
    background: rgba(250, 180, 255, 0.35);
    max-width: 350px;
    margin: auto;
    margin-top: 10px;
    line-height: 0px;
}

.miningBegins {
    font-size: 28px;
    border: 4px solid #FFCA5F;
    border-radius: 16px;
    background: rgba(255, 202, 95, 0.35);
    max-width: 360px;
    margin: auto;
    margin-top: 10px;
    line-height: 0px;
}



.addWithdraw input {
    margin-right: 15px;
}

.roundButtons button {
    color: black;
    width: 170px;
    height: 50px;
    
}

.prevButton {
    position: relative;
    margin-right: 52.5%;

}

.nextButton {
    margin-left: auto;
}

.signOut {
    font-family: Inter;
    font-weight: 600;
    margin-top: 10px;
    text-transform: uppercase;
    padding: 14px 26px;
    letter-spacing: 0.1em;
    color: white;
    background: #9146ff;
    padding: 14px 24px;
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 48px;
    cursor: pointer;
    transition: 200ms;
}

.signOut:hover {
    background-color: rgba(145, 70, 255, 0.9);
    transition: 200ms;
}

.signOut:active {
    background-color: rgba(145, 70, 255, 0.8);
    transition: 200ms;
}

.total {
    color: #9a9a9a;
    position: absolute;
    margin-top: 75px;
    margin-left: 290px;
    font-size: large;
    max-width: 100px;
}

.number {
    color: #9a9a9a;
    position: absolute;
    font-size: small;
    margin-top: 30px;
    margin-right: 235px;
}

.snippet {
    font-size: 17px;
    text-align: center;
    margin-right: 35%;
    margin-left: 35%;
    line-height: 25px;
    color: #ffffff;
}

@media (max-width: 1169px) {
    .snippet {
        font-size: 17px;
        text-align: center;
        margin-right: 25%;
        margin-left: 25%;
        line-height: 25px;
        color: #ffffff;
    }
}

@media (max-width: 700px) {
    .snippet {
        font-size: 17px;
        text-align: center;
        margin-right: 10%;
        margin-left: 10%;
        line-height: 25px;
        color: #ffffff;
    }
}
